
.DS_Store

TesterApp.xcodeproj/xcuserdata/Naoik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

TesterApp.xcodeproj/project.xcworkspace/xcuserdata/Naoik.xcuserdatad/UserInterfaceState.xcuserstate

TesterApp.xcodeproj/project.xcworkspace/xcuserdata/Naoik.xcuserdatad/UserInterfaceState.xcuserstate
